.App {
  text-align: center;
}

.element {
  border-style: solid;
  height: 60px;
  width: 60px;
}

.marr {
  margin-right: 2.2px;
}

.marl {
  margin-left: 2.2px;
  
}

.pad {
  margin-left: 2.0px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
